<img src="/assets/squeakycleanlogo_orig.jpg" width="25%" height="25%" align="middle" />
<br/>
<br/>
<div class="panel panel-default text-center">
    <div class="panel-body">
        <p>
            Being the market benchmark – Autowash’s objective is to stand out from the crowd and trigger new trends. We provide professional
            car wash services and customer satisfaction is our number one priority.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <h4> OVER 10 YEARS EXPERIENCE</h4>
        <p> We have 10 years of experience in the car wash business. You can trust that our services are personalised and fully
            focused on our clients.</p>

        <h4>RELIABLE SERVICE</h4>
        <p>Autowash is dedicated to providing excellent service, ensuring our customers receive the highest standards of service.
            </p>

        <h4>100% SATISFACTION</h4>
        <p> We will clean your car to your satisfaction. We are happy when you are happy! </p>

        <h4>PROFESSIONAL STANDARDS
        </h4>
        <p> We provide professional car wash services and customer satisfaction is our number one priority.</p>
    </div>
</div>